p {
  text-align: justify;
}

font.type {
  color: #107020;
}
font.func {
  color: #1010a0;
}
font.arg {
  color: #906000;
}
font.qual {
  color: #501050;
}

div.code {
  background: #e0e0e0;
  padding: 10px;
}

